<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    RewriteCond $1 !^(index\.php|favicon\.ico|assets|robots\.txt|vendor)
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /index.php [L]
</IfModule>

asdf