.footer {
	text-align: center;

	p {
		@include mq(sm) {
			font-size: 13px;
		}

		@include mq(lg) {
			font-size: 18px;
		}

		span {
			@include mq(sm) {
				display: block;
			}
		}
	}
}

.form-container {
	@include mq(xmd) {
		p,
		form {
			display: inline-block;
			vertical-align: middle;
		}

		p {
			margin-right: 1em;
		}
	}
}

.contact {
	span {
		display: block;

		@include mq(xmd) {
			display: inline-block;
		}
	}
}