input,
button {
	appearance: none;
	border: none;
	margin: 0;
	padding: 0;
	outline: none;
}

.form {
	margin: 0.5em auto;
	width: 100%;
	max-width: 17em;

	&__field {
		display: block;
		position: relative;
		width: 100%;
	}

	&__input {
		display: block;
		font-size: 1em;
		padding: 0.5em;
		width: 100%;
	}

	&__submit {
		background: transparent;
		color: $color--blue;
		font-size: 1em;
		font-style: italic;
		font-weight: bolder;
		height: 100%;
		padding: 0 0.5em;
		position: absolute;
		top: 0;
		right: 0;
	}
}