.header {
	background: url(../images/photography/greenville-mobile.jpg) no-repeat center top;
	background-size: auto 100%;
	color: $color--white;
	text-align: center;

	&__h1 {
		@include mq(sm) {
			margin: 0 auto;
			padding: 23px 0;
			width: percentage(207/259);
		}

		@include mq(md) {
			left: 0.75em;
			position: absolute;
			top: 0.75em;
			height: 20px;
		}
	}

	@include mq(sm) {
		height: 100%;
	}

	@include mq(md) {
		background: url(../images/photography/greenville-tablet.jpg) no-repeat center top;
		background-size: auto 100%;
		display: table;
		width: 100%;
		height: 513px;

		.h2 {
			margin-bottom: 0.25em;
		}

		> .container {
			display: table-cell;
			vertical-align: middle;
			padding-bottom: 15%;

			@include mq(xmd) {
				padding-bottom: 0;
			}
		}
	}

	@include mq(lg) {
		background: url(../images/photography/greenville-desktop.jpg) no-repeat center top;
		background-size: cover;
		padding-bottom: 1em;
	}
}

.details {
	span {
		@include mq(sm) {
			display: block;
		}

		@include mq(md) {
			display: inline-block;

			~ span {
				border-left: 2px solid;
				margin-left: 5px;
				padding-left: 5px;
			}
		}
	}
}

.logo {
	display: block;
	margin: 0 auto;

	@include mq(sm) {
		width: 100%;
	}

	@include mq(md) {
		height: 100%;
	}
}