.countdown {
	@extend .clearfix;
	display: inline-block;

	&__number,
	&__text {
		float: left;
		padding: 0.5em;
	}

	&__number {
		background: $color--white;
		border: 2px solid $color--white;
		color: #83ACBE;
	}

	&__text {
		border-top: 2px solid $color--white;
		border-right: 2px solid $color--white;
		border-bottom: 2px solid $color--white;
		border-left: 0;
	}
}

.opener {
	padding: 2em 0;
	text-align: center;
}

.video {
	position: relative;

	&__play-icon {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		max-width: 100px;
		width: percentage(37/259);
		display: block;
	}

	&__thumbnail {
		width: 100%;
	}

	&__caption {
		color: $color--grey;
		font-size: calc(13em/16);
	}

}

