.countdown {
	@extend .clearfix;
	display: inline-block;
	font-weight: bolder;

	&__number,
	&__text {
		float: left;
		padding: 0.5em;
	}

	&__number {
		background: $color--white;
		border: 2px solid $color--white;
		color: #83ACBE;
	}

	&__text {
		border-top: 2px solid $color--white;
		border-right: 2px solid $color--white;
		border-bottom: 2px solid $color--white;
		border-left: 0;
	}
}

.opener {
	padding: 2em 0;
	text-align: center;
}

.video {
	position: relative;
	padding-top: 55.35%;

	&__play-icon {
		fill: $color--white;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		max-width: 100px;
		width: percentage(37/259);
		display: block;
	}

	&__thumbnail {
		height: 100%;
		width: 100%;

		position: absolute;
		top: 0;right: 0;bottom: 0;left: 0;
	}

	&__caption {
		color: $color--grey;
		font-size: calc(13em/16);

		@include mq(sm) {
			text-align: center;
		}
	}
}

.cta {
	display: block;
	max-width: 17em;
	text-align: center;

	@include mq(sm) {
		border: 2px solid;
		margin: calc(21em/16) auto;
		padding: 0.5em 1em;
	}

	@include mq(md) {
		border-top: 2px solid;
		border-bottom: 2px solid;
		margin: 3em auto;
		padding: 1em;
	}

	p {
		font-size: calc(19em/16);
		font-weight: bolder;
		letter-spacing: 1px;
	  line-height: 1.189;
	  margin: 0;
	}

	small {
		display: block;
		font-size: percentage(12/19);

		@include mq(md) {
			margin-top: 3px;
		}
	}
}

