.h2 {
	@extend %verlag--bold;
	font-size: calc(26em/16);
	letter-spacing: calc(20em/1000);
	margin: 15px 0 0;

	@include mq(md) {
		font-size: calc(33em/16);
	}

	@include mq(lg) {
		font-size: calc(72em/16);
	}
}

.h3 {
	@extend %verlag--black;
	font-size: calc(13em/16);
	letter-spacing: calc(120em/1000);
	margin-bottom: 1em;
	text-transform: uppercase;

	@include mq(md) {
		font-size: calc(13em/16);
	}

	@include mq(lg) {
		font-size: calc(21em/16);
	}
}

.lowercase {
	text-transform: lowercase !important;
}